equipsync2/src/main/java/projetxml/equipsync/xml_shemas/roles.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="Roles">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Role" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="roleId" type="xs:int" />
                            <xs:element name="permissionId" type="xs:int" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
